<li class="mb-0 pb-0">
  <div class="top-dropdown-outer pt-5 pb-10">
    <a class="top-cart-link has-dropdown text-white"><i class="fa fa-shopping-cart font-13"></i> {{products.length}}</a>
    <ul class="dropdown">
      <li>
        <!-- dropdown cart -->
        <div class="dropdown-cart">
          <table class="table cart-table-list table-responsive">
            <tbody>
            <tr *ngFor="let product of products">
              <td><a href="#"><img alt="" src="{{product.image}}"></a></td>
              <td><a href="#"> {{product.nom}}</a></td>
              <td>X3</td>
              <td>{{product.prix}}</td>
              <td><a class="close" href="#"><i class="fa fa-close font-13"></i></a></td>
            </tr>
            </tbody>
          </table>
          <div class="total-cart text-right">
            <table class="table table-responsive">
              <tbody>
              <tr>
                <td>Cart Subtotal</td>
                <td>{{ Subtotal }}</td>
              </tr>
              <tr>
                <td>Shipping and Handling</td>
                <td>7.00 TND</td>
              </tr>
              <tr>
                <td>Order Total</td>
                <td>{{  totalPrice }}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="cart-btn text-right">
            <a class="btn btn-theme-colored btn-xs" routerLink="/store/cart"> View cart</a>
            <a class="btn btn-dark btn-xs" href="#"> Checkout</a>
          </div>
        </div>
        <!-- dropdown cart ends -->
      </li>
    </ul>
  </div>
</li>
