
<div class="form-group  text-center clearfix " [ngClass]="{'has-error': hasError}"  style="padding-top:10%;padding-left:20%;padding-right:20%; ">

  <div class="alert alert-success" role="alert" *ngIf="MailSent">An email has been sent to you with the OTP code.</div>
  <div class="alert alert-danger" role="alert" *ngIf="!EmailExists">This email is not registered.</div>
  <h4 class="text-gray mt-0 pt-5">Recover your account</h4>
  <span class="control-label" >{{ErrorText}}</span>

  <div class="input-group  form-group col-md-8 col-md-push-2">
    <input type="text" class="form-control" name="email" [(ngModel)]="emailPart1" (keyup)="Checkone($event)">
    <span class="input-group-addon"> &#64; </span>
    <input type="text" class="form-control"  [(ngModel)]="emailPart2" (keyup)="Checkone($event)" id="inputGroupSuccess1">
  </div>
  <ngx-recaptcha2
    style="display: flex;justify-content: center;align-items: center;margin: 3%;"
    #captchaElem
    [siteKey]="'6LeluRMqAAAAAP6XyYfJ4gqXR8YjJ99BS2nAxdTw'"
    [size]="'normal'"
    [hl]="'en'"
    [theme]="'light'"
    (success)="handleSuccess($event)"
    formControlName="recaptcha">
  </ngx-recaptcha2>

  <button (click)="verifyEmail()" [disabled]="((!isEmailValid) || (!isCaptchaValid)) || MailSent" class="btn btn-dark btn-theme-colored btn-circled">Send OTP code</button>
</div>


