

<div class="table-responsive">
<p-table class="table" [value]="orders" [tableStyle]="{'min-width': '50rem'}">
  <ng-template pTemplate="header" class="table" let-columns>
    <tr>
      <th>adresse </th>
      <th>email</th>
      <th>listeProduits</th>
      <th>number</th>
      <th>paiement</th>
      <th>prixtotale</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-order let-columns="columns">
    <tr>
      <td>
        {{order.adresse}}
      </td>
      <td>
        {{order.email }}
      </td>
      <td>
        <ul>
          <li *ngFor="let produit of order.listproduits">
            {{produit.nom}}
          </li>
        </ul>
      </td>
      <td>
        {{order.numero}}
      </td>
      <td>
        {{order.paiement}}
      </td>
      <td>
        {{order.prixtotale}} TND
      </td>
    </tr>
  </ng-template>
</p-table>
</div>
