<div class="main-content">
  <!-- Section: home -->
  <section id="home">
    <div class="container-fluid p-0">

      <!-- Slider Revolution Start -->
      <div class="rev_slider_wrapper">
        <div class="rev_slider" data-version="5.0">
          <ul>

            <!-- SLIDE 1 -->
            <li data-index="rs-1" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="http://placehold.it/1500x996" data-rotate="0" data-saveperformance="off" data-title="Web Show" data-description="">
              <!-- MAIN IMAGE -->
              <img src="http://placehold.it/1500x996"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="6" data-no-retina>
              <!-- LAYERS -->

              <!-- LAYER NR. 1 -->
              <div class="tp-caption tp-resizeme text-uppercase font-playfair text-white font-weight-600 m-0"
                   id="rs-1-layer-1"

                   data-x="['right']"
                   data-hoffset="['30']"
                   data-y="['middle']"
                   data-voffset="['-125']"
                   data-fontsize="['42']"
                   data-lineheight="['64']"
                   data-width="none"
                   data-height="none"
                   data-whitespace="nowrap"
                   data-transform_idle="o:1;s:500"
                   data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                   data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                   data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                   data-start="1000"
                   data-splitin="none"
                   data-splitout="none"
                   data-responsive_offset="on"
                   style="z-index: 5; white-space: nowrap; font-weight:700;">Be a Skilled
              </div>

              <!-- LAYER NR. 2 -->
              <div class="tp-caption tp-resizeme text-white text-uppercase font-playfair font-weight-800"
                   id="rs-1-layer-2"

                   data-x="['right']"
                   data-hoffset="['30']"
                   data-y="['middle']"
                   data-voffset="['-60']"
                   data-fontsize="['72']"
                   data-lineheight="['84']"
                   data-width="none"
                   data-height="none"
                   data-whitespace="nowrap"
                   data-transform_idle="o:1;s:500"
                   data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                   data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                   data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                   data-start="1000"
                   data-splitin="none"
                   data-splitout="none"
                   data-responsive_offset="on"
                   style="z-index: 5; white-space: nowrap; font-weight:700;"><span class="text-theme-colored">Horse </span>Rider
              </div>

              <!-- LAYER NR. 3 -->
              <div class="tp-caption tp-resizeme text-right font-raleway text-white"
                   id="rs-1-layer-3"

                   data-x="['right']"
                   data-hoffset="['30']"
                   data-y="['middle']"
                   data-voffset="['30']"
                   data-fontsize="['18']"
                   data-lineheight="['34']"
                   data-width="none"
                   data-height="none"
                   data-whitespace="nowrap"
                   data-transform_idle="o:1;s:500"
                   data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                   data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                   data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                   data-start="1400"
                   data-splitin="none"
                   data-splitout="none"
                   data-responsive_offset="on"
                   style="z-index: 5; white-space: nowrap; font-weight:400;">We provides always our best equestrian training for our clients <br>and  always try to achieve our client's trust and satisfaction.
              </div>

              <!-- LAYER NR. 4 -->
              <div class="tp-caption tp-resizeme"
                   id="rs-1-layer-4"

                   data-x="['right']"
                   data-hoffset="['30']"
                   data-y="['middle']"
                   data-voffset="['100']"
                   data-width="none"
                   data-height="none"
                   data-whitespace="nowrap"
                   data-transform_idle="o:1;s:500"
                   data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                   data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                   data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                   data-start="1600"
                   data-splitin="none"
                   data-splitout="none"
                   data-responsive_offset="on"
                   style="z-index: 5; white-space: nowrap; letter-spacing:1px;"><a class="btn btn-colored btn-lg btn-flat btn-theme-colored pl-20 pr-20" href="#">View Details</a>
              </div>
            </li>

            <!-- SLIDE 2 -->
            <li data-index="rs-2" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="http://placehold.it/1500x996" data-rotate="0" data-saveperformance="off" data-title="Web Show" data-description="">
              <!-- MAIN IMAGE -->
              <img src="http://placehold.it/1500x996"  alt=""  data-bgposition="center 20%" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="6" data-no-retina>
              <!-- LAYERS -->

              <!-- LAYER NR. 1 -->
              <div class="tp-caption tp-resizeme text-center text-white"
                   id="rs-2-layer-1"

                   data-x="['center']"
                   data-hoffset="['0']"
                   data-y="['middle']"
                   data-voffset="['-130']"
                   data-fontsize="['72']"
                   data-lineheight="['100']"
                   data-width="none"
                   data-height="none"
                   data-whitespace="nowrap"
                   data-transform_idle="o:1;s:500"
                   data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                   data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                   data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                   data-start="1000"
                   data-splitin="none"
                   data-splitout="none"
                   data-responsive_offset="on"
                   style="z-index: 5; white-space: nowrap; font-weight:400;"><i class="flaticon-horseman-animal-1"></i>
              </div>

              <!-- LAYER NR. 2 -->
              <div class="tp-caption tp-resizeme text-center text-white"
                   id="rs-2-layer-2"

                   data-x="['center']"
                   data-hoffset="['0']"
                   data-y="['middle']"
                   data-voffset="['-75']"
                   data-fontsize="['24']"
                   data-lineheight="['64']"
                   data-width="none"
                   data-height="none"
                   data-whitespace="nowrap"
                   data-transform_idle="o:1;s:500"
                   data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                   data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                   data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                   data-start="1000"
                   data-splitin="none"
                   data-splitout="none"
                   data-responsive_offset="on"
                   style="z-index: 5; white-space: nowrap; font-weight:400;">- Estimated Since 1986 -
              </div>

              <!-- LAYER NR. 3 -->
              <div class="tp-caption tp-resizeme text-uppercase text-white font-raleway bg-theme-colored-transparent pl-20 pr-20"
                   id="rs-2-layer-3"

                   data-x="['center']"
                   data-hoffset="['0']"
                   data-y="['middle']"
                   data-voffset="['0']"
                   data-fontsize="['64']"
                   data-lineheight="['80']"
                   data-width="none"
                   data-height="none"
                   data-whitespace="nowrap"
                   data-transform_idle="o:1;s:500"
                   data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                   data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                   data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                   data-start="1000"
                   data-splitin="none"
                   data-splitout="none"
                   data-responsive_offset="on"
                   style="z-index: 5; white-space: nowrap; font-weight:700;">We Are With You
              </div>

              <!-- LAYER NR. 4 -->
              <div class="tp-caption tp-resizeme"
                   id="rs-2-layer-4"

                   data-x="['center']"
                   data-hoffset="['0']"
                   data-y="['middle']"
                   data-voffset="['80']"
                   data-width="none"
                   data-height="none"
                   data-whitespace="nowrap"
                   data-transform_idle="o:1;s:500"
                   data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                   data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                   data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                   data-start="1400"
                   data-splitin="none"
                   data-splitout="none"
                   data-responsive_offset="on"
                   style="z-index: 5; white-space: nowrap; letter-spacing:1px;"><a class="btn btn-default btn-lg btn-circled" href="#">Learn More</a>
              </div>
            </li>

            <!-- SLIDE 3 -->
            <li data-index="rs-3" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="http://placehold.it/1500x996" data-rotate="0" data-saveperformance="off" data-title="Web Show" data-description="">
              <!-- MAIN IMAGE -->
              <img src="http://placehold.it/1500x996"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="6" data-no-retina>
              <!-- LAYERS -->

              <!-- LAYER NR. 1 -->
              <div class="tp-caption tp-resizeme text-white text-uppercase font-playfair font-weight-600"
                   id="rs-3-layer-1"

                   data-x="['left']"
                   data-hoffset="['30']"
                   data-y="['middle']"
                   data-voffset="['-160']"
                   data-fontsize="['38']"
                   data-lineheight="['64']"
                   data-width="none"
                   data-height="none"
                   data-whitespace="nowrap"
                   data-transform_idle="o:1;s:500"
                   data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                   data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                   data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                   data-start="1000"
                   data-splitin="none"
                   data-splitout="none"
                   data-responsive_offset="on"
                   style="z-index: 5; white-space: nowrap; font-weight:700;">Best Equestrian Center
              </div>

              <!-- LAYER NR. 2 -->
              <div class="tp-caption tp-resizeme text-uppercase font-playfair text-theme-colored font-weight-700 m-0"
                   id="rs-3-layer-2"

                   data-x="['left']"
                   data-hoffset="['30']"
                   data-y="['middle']"
                   data-voffset="['-80']"
                   data-fontsize="['94']"
                   data-lineheight="['100']"
                   data-width="none"
                   data-height="none"
                   data-whitespace="nowrap"
                   data-transform_idle="o:1;s:500"
                   data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                   data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                   data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                   data-start="1000"
                   data-splitin="none"
                   data-splitout="none"
                   data-responsive_offset="on"
                   style="z-index: 5; white-space: nowrap; font-weight:700;">Horse<span class="text-white">Man</span>
              </div>

              <!-- LAYER NR. 3 -->
              <div class="tp-caption tp-resizeme font-raleway text-white"
                   id="rs-3-layer-3"

                   data-x="['left']"
                   data-hoffset="['30']"
                   data-y="['middle']"
                   data-voffset="['20']"
                   data-fontsize="['18']"
                   data-lineheight="['34']"
                   data-width="none"
                   data-height="none"
                   data-whitespace="nowrap"
                   data-transform_idle="o:1;s:500"
                   data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                   data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                   data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                   data-start="1400"
                   data-splitin="none"
                   data-splitout="none"
                   data-responsive_offset="on"
                   style="z-index: 5; white-space: nowrap; font-weight:400;">We provides always our best equestrian training for our clients <br>and  always try to achieve our client's trust and satisfaction.
              </div>

              <!-- LAYER NR. 4 -->
              <div class="tp-caption tp-resizeme"
                   id="rs-3-layer-4"

                   data-x="['left']"
                   data-hoffset="['30']"
                   data-y="['middle']"
                   data-voffset="['90']"

                   data-width="none"
                   data-height="none"
                   data-whitespace="nowrap"
                   data-transform_idle="o:1;s:500"
                   data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                   data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                   data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                   data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                   data-start="1600"
                   data-splitin="none"
                   data-splitout="none"
                   data-responsive_offset="on"
                   style="z-index: 5; white-space: nowrap; letter-spacing:1px;"><a class="btn btn-colored btn-lg btn-circled btn-theme-colored bs-modal-ajax-load pl-30 pr-30"  data-toggle="modal" data-target="#BSParentModal" href="ajax-load/reservation-form.html">Booking Now</a>
              </div>
            </li>

          </ul>
        </div><!-- end .rev_slider -->
      </div>
      <!-- end .rev_slider_wrapper -->
      <script>
        $(document).ready(function(e) {
          var revapi = $(".rev_slider").revolution({
            sliderType:"standard",
            jsFileLocation: "js/revolution-slider/js/",
            sliderLayout: "auto",
            dottedOverlay: "none",
            delay: 5000,
            navigation: {
              keyboardNavigation: "off",
              keyboard_direction: "horizontal",
              mouseScrollNavigation: "off",
              onHoverStop: "off",
              touch: {
                touchenabled: "on",
                swipe_threshold: 75,
                swipe_min_touches: 1,
                swipe_direction: "horizontal",
                drag_block_vertical: false
              },
              arrows: {
                style: "gyges",
                enable: true,
                hide_onmobile: false,
                hide_onleave: true,
                hide_delay: 200,
                hide_delay_mobile: 1200,
                tmp: '',
                left: {
                  h_align: "left",
                  v_align: "center",
                  h_offset: 0,
                  v_offset: 0
                },
                right: {
                  h_align: "right",
                  v_align: "center",
                  h_offset: 0,
                  v_offset: 0
                }
              },
              bullets: {
                enable: true,
                hide_onmobile: true,
                hide_under: 800,
                style: "hebe",
                hide_onleave: false,
                direction: "horizontal",
                h_align: "center",
                v_align: "bottom",
                h_offset: 0,
                v_offset: 30,
                space: 5,
                tmp: '<span class="tp-bullet-image"></span><span class="tp-bullet-imageoverlay"></span><span class="tp-bullet-title"></span>'
              }
            },
            responsiveLevels: [1240, 1024, 778],
            visibilityLevels: [1240, 1024, 778],
            gridwidth: [1170, 1024, 778, 480],
            gridheight: [620, 768, 960, 720],
            lazyType: "none",
            parallax:"mouse",
            parallaxBgFreeze:"off",
            parallaxLevels:[2,3,4,5,6,7,8,9,10,1],
            shadow: 0,
            spinner: "off",
            stopLoop: "on",
            stopAfterLoops: 0,
            stopAtSlide: 1,
            shuffle: "off",
            autoHeight: "off",
            fullScreenAutoWidth: "off",
            fullScreenAlignForce: "off",
            fullScreenOffsetContainer: "",
            fullScreenOffset: "0",
            hideThumbsOnMobile: "off",
            hideSliderAtLimit: 0,
            hideCaptionAtLimit: 0,
            hideAllCaptionAtLilmit: 0,
            debugMode: false,
            fallbacks: {
              simplifyAll: "off",
              nextSlideOnWindowFocus: "off",
              disableFocusListener: false,
            }
          });
        });
      </script>
      <!-- Slider Revolution Ends -->
    </div>
  </section>

  <!-- Section: About -->
  <section>
    <div class="container">
      <div class="section-content">
        <div class="row">
          <div class="col-sm-6 col-md-4 maxwidth500 mb-sm-40 wow fadeInUp" data-margin-top="-140px" data-wow-duration="1s" data-wow-delay="0.1s">
            <img class="img-fullwidth" src="http://placehold.it/350x250" alt="">
            <div class="bg-lighter border-1px p-20 pt-0 mb-sm-180">
              <h3 class="mt-20">Experience Yourself</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero omnis unde nesciunt?</p>
              <a href="#" class="btn btn-sm btn-theme-colored">Read more</a>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 maxwidth500 mb-sm-40 wow fadeInUp" data-margin-top="-140px" data-wow-duration="1s" data-wow-delay="0.1s">
            <img class="img-fullwidth" src="http://placehold.it/350x250" alt="">
            <div class="bg-lighter border-1px p-20 pt-0 mb-sm-180">
              <h3 class="mt-20">Graduation Degree</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero omnis unde nesciunt?</p>
              <a href="#" class="btn btn-sm btn-theme-colored">Read more</a>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 maxwidth500 mb-sm-0 wow fadeInUp" data-margin-top="-140px" data-wow-duration="1s" data-wow-delay="0.1s">
            <img class="img-fullwidth" src="http://placehold.it/350x250" alt="">
            <div class="bg-lighter border-1px p-20 pt-0">
              <h3 class="mt-20">Online Learning</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero omnis unde nesciunt?</p>
              <a href="#" class="btn btn-sm btn-theme-colored">Read more</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="title font-36 text-theme-colored mt-30 mb-20">About Our Riding School</h2>
            <p class="mb-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam modi consequuntur maxime voluptates earum illo sunt, veritatis maiores doloribus ut id, nostrum. Temporibus odit quas illum eos dolores itaque facilis omnis beatae saepe eum. Odit labore vel temporibus quasi.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam modi consequuntur maxime voluptates earum illo sunt, veritatis maiores doloribus ut id, nostrum. Temporibus odit quas illum eos dolores itaque facilis omnis beatae saepe eum. Odit labore vel temporibus.</p>
            <a class="btn btn-colored btn-theme-colored btn-lg text-uppercase font-13 mt-30" href="#">University Details</a>
            <a class="btn btn-theme-colored btn-lg text-uppercase text-white font-13 mt-30" href="#">Register Now</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section: COURSES -->
  <section class="bg-silver-light">
    <div class="container pb-40">
      <div class="section-title text-center">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h2 class="title text-uppercase text-theme-colored line-bottom-center">Our <span class="text-theme-colored font-weight-300">Courses</span></h2>
            <p class="font-13 mt-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit vitae <br> eum animi iure necessitatibus repudiandae?</p>
          </div>
        </div>
      </div>
      <div class="section-content">
        <div class="row">
          <div class="col-md-12">
            <div class="owl-carousel-4col">
              <div class="item ">
                <div class="service-block bg-white">
                  <div class="thumb"> <img alt="featured project" src="http://placehold.it/265x195" class="img-fullwidth">
                    <h4 class="text-white mt-0 mb-0"><span class="price">$125</span></h4>
                  </div>
                  <div class="content text-left flip p-25 pt-0">
                    <h4 class="line-bottom mb-10">Children Lessons</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquam ipsum quis ipsum facilisis sit amet.</p>
                    <a class="btn btn-dark btn-theme-colored btn-sm text-uppercase mt-10" href="#">view details</a>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="service-block bg-white">
                  <div class="thumb"> <img alt="featured project" src="http://placehold.it/265x195" class="img-responsive img-fullwidth">
                    <h4 class="text-white mt-0 mb-0"><span class="price">$125</span></h4>
                  </div>
                  <div class="content text-left flip p-25 pt-0">
                    <h4 class="line-bottom mb-10">Adult Riding Lessons</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquam ipsum quis ipsum facilisis sit amet.</p>
                    <a class="btn btn-dark btn-theme-colored btn-sm text-uppercase mt-10" href="#">view details</a>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="service-block bg-white">
                  <div class="thumb"> <img alt="featured project" src="http://placehold.it/265x195" class="img-responsive img-fullwidth">
                    <h4 class="text-white mt-0 mb-0"><span class="price">$125</span></h4>
                  </div>
                  <div class="content text-left flip p-25 pt-0">
                    <h4 class="line-bottom mb-10">Group Riding Lessons</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquam ipsum quis ipsum facilisis sit amet.</p>
                    <a class="btn btn-dark btn-theme-colored btn-sm text-uppercase mt-10" href="#">view details</a>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="service-block bg-white">
                  <div class="thumb"> <img alt="featured project" src="http://placehold.it/265x195" class="img-responsive img-fullwidth">
                    <h4 class="text-white mt-0 mb-0"><span class="price">$125</span></h4>
                  </div>
                  <div class="content text-left flip p-25 pt-0">
                    <h4 class="line-bottom mb-10">Advanced Riding Lessons</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquam ipsum quis ipsum facilisis sit amet.</p>
                    <a class="btn btn-dark btn-theme-colored btn-sm text-uppercase mt-10" href="#">view details</a>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="service-block bg-white">
                  <div class="thumb"> <img alt="featured project" src="http://placehold.it/265x195" class="img-responsive img-fullwidth">
                    <h4 class="text-white mt-0 mb-0"><span class="price">$125</span></h4>
                  </div>
                  <div class="content text-left flip p-25 pt-0">
                    <h4 class="line-bottom mb-10">Vaulting Lesson</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquam ipsum quis ipsum facilisis sit amet.</p>
                    <a class="btn btn-dark btn-theme-colored btn-sm text-uppercase mt-10" href="#">view details</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section: Trainers -->
  <section>
    <div class="container pt-50">
      <div class="section-title text-center">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h2 class="title text-uppercase text-theme-colored line-bottom-center">Experienced <span class="text-theme-colored font-weight-300">Trainers</span></h2>
            <p class="font-13 mt-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit vitae <br> eum animi iure necessitatibus repudiandae?</p>
          </div>
        </div>
      </div>
      <div class="section-content">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="team-block-style2 maxwidth500 mb-sm-30">
              <div class="team-upper-block">
                <img class="img-fullwidth" src="http://placehold.it/280x260" alt="">
                <ul class="styled-icons icon-sm icon-bordered icon-circled icon-theme-colored pt-10">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-skype"></i></a></li>
                </ul>
              </div>
              <div class="team-lower-block">
                <h3 class="mt-0"><a href="#">Maria Anderson</a></h3>
                <p>Lorem ipsum dolor sit ametcon secte adipisicing elit. Assumenda, dignissimos.</p>
                <a href="page-trainer-details.html" class="text-theme-colored font-13 font-weight-600">View Details →</a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="team-block-style2 maxwidth500 mb-sm-30">
              <div class="team-upper-block">
                <img class="img-fullwidth" src="http://placehold.it/280x260" alt="">
                <ul class="styled-icons icon-sm icon-bordered icon-circled icon-theme-colored pt-10">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-skype"></i></a></li>
                </ul>
              </div>
              <div class="team-lower-block">
                <h3 class="mt-0"><a href="#">Jacobe Martin</a></h3>
                <p>Lorem ipsum dolor sit ametcon secte adipisicing elit. Assumenda, dignissimos.</p>
                <a href="page-trainer-details.html" class="text-theme-colored font-13 font-weight-600">View Details →</a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="team-block-style2 maxwidth500 mb-sm-30">
              <div class="team-upper-block">
                <img class="img-fullwidth" src="http://placehold.it/280x260" alt="">
                <ul class="styled-icons icon-sm icon-bordered icon-circled icon-theme-colored pt-10">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-skype"></i></a></li>
                </ul>
              </div>
              <div class="team-lower-block">
                <h3 class="mt-0"><a href="#">Alica Smith</a></h3>
                <p>Lorem ipsum dolor sit ametcon secte adipisicing elit. Assumenda, dignissimos.</p>
                <a href="page-trainer-details.html" class="text-theme-colored font-13 font-weight-600">View Details →</a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="team-block-style2 maxwidth500">
              <div class="team-upper-block">
                <img class="img-fullwidth" src="http://placehold.it/280x260" alt="">
                <ul class="styled-icons icon-sm icon-bordered icon-circled icon-theme-colored pt-10">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-skype"></i></a></li>
                </ul>
              </div>
              <div class="team-lower-block">
                <h3 class="mt-0"><a href="#">Steve Smith</a></h3>
                <p>Lorem ipsum dolor sit ametcon secte adipisicing elit. Assumenda, dignissimos.</p>
                <a href="page-trainer-details.html" class="text-theme-colored font-13 font-weight-600">View Details →</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section: Client Say -->
  <section class="divider parallax layer-overlay overlay-white-9" data-background-ratio="0.5" data-bg-img="http://placehold.it/1500x996">
    <div class="container pt-60 pb-60">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2 class="line-bottom-center text-theme-colored text-center mt-0 mb-30">Our Clients say</h2>
          <div class="owl-carousel-1col" data-dots="true">
            <div class="item">
              <div class="testimonial-wrapper text-center">
                <div class="thumb"><img class="img-circle" alt="" src="http://placehold.it/90x90"></div>
                <div class="content pt-10">
                  <p class="font-15 text-black-333"><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque est quasi, quas ipsam, expedita placeat facilis odio illo ex accusantium eaque itaque officiis et sit. Vero quo, impedit neque.</em></p>
                  <i class="fa fa-quote-right font-36 mt-10 text-gray-lightgray"></i>
                  <h4 class="author text-theme-colored mb-0">Catherine Grace</h4>
                  <h6 class="title text-gray mt-0 mb-15">Designer</h6>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimonial-wrapper text-center">
                <div class="thumb"><img class="img-circle" alt="" src="http://placehold.it/90x90"></div>
                <div class="content pt-10">
                  <p class="font-15 text-black-333"><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque est quasi, quas ipsam, expedita placeat facilis odio illo ex accusantium eaque itaque officiis et sit. Vero quo, impedit neque.</em></p>
                  <i class="fa fa-quote-right font-36 mt-10 text-gray-lightgray"></i>
                  <h4 class="author text-theme-colored mb-0">Catherine Grace</h4>
                  <h6 class="title text-gray mt-0 mb-15">Designer</h6>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimonial-wrapper text-center">
                <div class="thumb"><img class="img-circle" alt="" src="http://placehold.it/90x90"></div>
                <div class="content pt-10">
                  <p class="font-15 text-black-333"><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque est quasi, quas ipsam, expedita placeat facilis odio illo ex accusantium eaque itaque officiis et sit. Vero quo, impedit neque.</em></p>
                  <i class="fa fa-quote-right font-36 mt-10 text-gray-lightgray"></i>
                  <h4 class="author text-theme-colored mb-0">Catherine Grace</h4>
                  <h6 class="title text-gray mt-0 mb-15">Designer</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section: Gallery -->
  <section id="gallery" class="">
    <div class="container">
      <div class="section-content">
        <div class="row">
          <div class="col-md-7 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s">
            <h3 class="text-uppercase title line-bottom mt-0 mb-30"><i class="fa fa-camera-retro text-gray-darkgray mr-10"></i>Photo <span class="text-theme-colored">Gallery</span></h3>
            <!-- Portfolio Gallery Grid -->

            <div class="gallery-isotope grid-4 gutter-small clearfix" data-lightbox="gallery">
              <!-- Portfolio Item Start -->
              <div class="gallery-item">
                <div class="thumb">
                  <img alt="project" src="http://placehold.it/155x106" class="img-fullwidth">
                  <div class="overlay-shade"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                        <a href="images/gallery/1.jpg"  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Portfolio Item End -->

              <!-- Portfolio Item Start -->
              <div class="gallery-item">
                <div class="thumb">
                  <img alt="project" src="http://placehold.it/155x106" class="img-fullwidth">
                  <div class="overlay-shade"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                        <a href="images/gallery/2.jpg"  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Portfolio Item End -->

              <!-- Portfolio Item Start -->
              <div class="gallery-item">
                <div class="thumb">
                  <img alt="project" src="http://placehold.it/155x106" class="img-fullwidth">
                  <div class="overlay-shade"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                        <a href="images/gallery/3.jpg"  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Portfolio Item End -->

              <!-- Portfolio Item Start -->
              <div class="gallery-item">
                <div class="thumb">
                  <img alt="project" src="http://placehold.it/155x106" class="img-fullwidth">
                  <div class="overlay-shade"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                        <a href="images/gallery/4.jpg"  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Portfolio Item End -->

              <!-- Portfolio Item Start -->
              <div class="gallery-item">
                <div class="thumb">
                  <img alt="project" src="http://placehold.it/155x106" class="img-fullwidth">
                  <div class="overlay-shade"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                        <a href="images/gallery/5.jpg"  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Portfolio Item End -->

              <!-- Portfolio Item Start -->
              <div class="gallery-item">
                <div class="thumb">
                  <img alt="project" src="http://placehold.it/155x106" class="img-fullwidth">
                  <div class="overlay-shade"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                        <a href="images/gallery/6.jpg"  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Portfolio Item End -->

              <!-- Portfolio Item Start -->
              <div class="gallery-item">
                <div class="thumb">
                  <img alt="project" src="http://placehold.it/155x106" class="img-fullwidth">
                  <div class="overlay-shade"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                        <a href="images/gallery/7.jpg"  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Portfolio Item End -->

              <!-- Portfolio Item Start -->
              <div class="gallery-item">
                <div class="thumb">
                  <img alt="project" src="http://placehold.it/155x106" class="img-fullwidth">
                  <div class="overlay-shade"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                        <a href="images/gallery/8.jpg"  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Portfolio Item End -->

              <!-- Portfolio Item Start -->
              <div class="gallery-item">
                <div class="thumb">
                  <img alt="project" src="http://placehold.it/155x106" class="img-fullwidth">
                  <div class="overlay-shade"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                        <a href="images/gallery/9.jpg"  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Portfolio Item End -->

              <!-- Portfolio Item Start -->
              <div class="gallery-item">
                <div class="thumb">
                  <img alt="project" src="http://placehold.it/155x106" class="img-fullwidth">
                  <div class="overlay-shade"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                        <a href="images/gallery/10.jpg"  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Portfolio Item End -->

              <!-- Portfolio Item Start -->
              <div class="gallery-item">
                <div class="thumb">
                  <img alt="project" src="http://placehold.it/155x106" class="img-fullwidth">
                  <div class="overlay-shade"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                        <a href="images/gallery/11.jpg"  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Portfolio Item End -->

              <!-- Portfolio Item Start -->
              <div class="gallery-item">
                <div class="thumb">
                  <img alt="project" src="http://placehold.it/155x106" class="img-fullwidth">
                  <div class="overlay-shade"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                        <a href="images/gallery/12.jpg"  data-lightbox-gallery="gallery"><i class="fa fa-picture-o"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Portfolio Item End -->
            </div>
            <!-- End Portfolio Gallery Grid -->
          </div>
          <div class="col-md-5 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
            <h3 class="text-uppercase title line-bottom mt-0 mt-sm-30 mb-30"><i class="fa fa-calendar text-gray-darkgray mr-10"></i>Why <span class="text-theme-colored">Choose Us?</span></h3>
            <div id="accordion1" class="panel-group accordion">
              <div class="panel">
                <div class="panel-title"> <a class="active" data-parent="#accordion1" data-toggle="collapse" href="#accordion11" aria-expanded="true"> <span class="open-sub"></span> Why this Company is Best?</a> </div>
                <div id="accordion11" class="panel-collapse collapse in" role="tablist" aria-expanded="true">
                  <div class="panel-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore impedit quae repellendus provident dolor iure poss imusven am aliquam. Officiis totam ea laborum deser unt vonsess.  iure poss imusven am aliquam</p>
                  </div>
                </div>
              </div>
              <div class="panel">
                <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse" href="#accordion12" class="" aria-expanded="true"> <span class="open-sub"></span> Why this Company is Best?</a> </div>
                <div id="accordion12" class="panel-collapse collapse" role="tablist" aria-expanded="true">
                  <div class="panel-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore impedit quae repellendus provident dolor iure poss imusven am aliquam. Officiis totam ea laborum deser unt vonsess.  iure poss imusven am aliquam</p>
                  </div>
                </div>
              </div>
              <div class="panel">
                <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse" href="#accordion13" class="" aria-expanded="true"> <span class="open-sub"></span> Why this Company is Best?</a> </div>
                <div id="accordion13" class="panel-collapse collapse" role="tablist" aria-expanded="true">
                  <div class="panel-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore impedit quae repellendus provident dolor iure poss imusven am aliquam. Officiis totam ea laborum deser unt vonsess.  iure poss imusven am aliquam</p>
                  </div>
                </div>
              </div>
              <div class="panel">
                <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse" href="#accordion14" class="" aria-expanded="true"> <span class="open-sub"></span> Why this Company is Best?</a> </div>
                <div id="accordion14" class="panel-collapse collapse" role="tablist" aria-expanded="true">
                  <div class="panel-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore impedit quae repellendus provident dolor iure poss imusven am aliquam. Officiis totam ea laborum deser unt vonsess.  iure poss imusven am aliquam</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Diver: Video Background  -->
  <section class="divider parallax layer-overlay overlay-dark-4" data-bg-img="http://placehold.it/1500x996" data-parallax-ratio="0.7">
    <div class="container pt-120 pb-120">
      <!-- Section Content -->
      <div class="section-content">
        <div class="row">
          <div class="col-md-12 text-center">
            <h3 class="text-white text-uppercase font-30 font-weight-600 mt-0 mb-20">Watch Our Latest Event video</h3>
            <a href="https://www.youtube.com/watch?v=F3fQr04sQJ4" data-lightbox-gallery="youtube-video"><i class="fa fa-play-circle text-white font-72"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section: blog -->
  <section id="blog">
    <div class="container pb-30">
      <div class="section-content">
        <div class="row">
          <div class="col-md-12">
            <h3 class="text-uppercase title line-bottom mt-0 mb-30">Latest <span class="text-theme-colored">News</span></h3>
            <div class="owl-carousel-3col">
              <div class="item">
                <article class="post text-center mb-30 bg-lighter">
                  <div class="entry-header">
                    <div class="post-thumb thumb">
                      <img src="http://placehold.it/360x220" alt="" class="img-responsive img-fullwidth">
                    </div>
                  </div>
                  <div class="entry-content p-20">
                    <div class="entry-meta">
                      <ul class="list-inline font-11 mb-10">
                        <li><em><i class="fa fa-user text-gray mr-5"></i>By: Author / </em></li>
                        <li><em><i class="fa fa-calendar mr-5"></i> June 26, 2016 / </em></li>
                        <li><em><i class="fa fa-comment-o mr-5"></i>Comments: 45 </em></li>
                      </ul>
                    </div>
                    <h4 class="entry-title line-bottom-center text-uppercase font-raleway font-18 font-weight-600 mb-10"><a href="blog-single-left-sidebar.html">Lorem ipsum dolor is emmita</a></h4>
                    <p class="mt-5">Lorem ipsum dolor sit amet, consectetur adipisi cing elit. Molestias eius illum libero dolor nobis</p>
                    <a class="btn btn-theme-colored btn-xs" href="blog-single-left-sidebar.html"> View Details</a>
                  </div>
                </article>
              </div>
              <div class="item">
                <article class="post text-center mb-30 bg-lighter">
                  <div class="entry-header">
                    <div class="post-thumb thumb">
                      <img src="http://placehold.it/360x220" alt="" class="img-responsive img-fullwidth">
                    </div>
                  </div>
                  <div class="entry-content p-20">
                    <div class="entry-meta">
                      <ul class="list-inline font-11 mb-10">
                        <li><em><i class="fa fa-user text-gray mr-5"></i>By: Author / </em></li>
                        <li><em><i class="fa fa-calendar mr-5"></i> June 26, 2016 / </em></li>
                        <li><em><i class="fa fa-comment-o mr-5"></i>Comments: 45 </em></li>
                      </ul>
                    </div>
                    <h4 class="entry-title line-bottom-center text-uppercase font-raleway font-18 font-weight-600 mb-10"><a href="blog-single-left-sidebar.html">Lorem ipsum dolor is emmita</a></h4>
                    <p class="mt-5">Lorem ipsum dolor sit amet, consectetur adipisi cing elit. Molestias eius illum libero dolor nobis</p>
                    <a class="btn btn-theme-colored btn-xs" href="blog-single-left-sidebar.html"> View Details</a>
                  </div>
                </article>
              </div>
              <div class="item">
                <article class="post text-center mb-30 bg-lighter">
                  <div class="entry-header">
                    <div class="post-thumb thumb">
                      <img src="http://placehold.it/360x220" alt="" class="img-responsive img-fullwidth">
                    </div>
                  </div>
                  <div class="entry-content p-20">
                    <div class="entry-meta">
                      <ul class="list-inline font-11 mb-10">
                        <li><em><i class="fa fa-user text-gray mr-5"></i>By: Author / </em></li>
                        <li><em><i class="fa fa-calendar mr-5"></i> June 26, 2016 / </em></li>
                        <li><em><i class="fa fa-comment-o mr-5"></i>Comments: 45 </em></li>
                      </ul>
                    </div>
                    <h4 class="entry-title line-bottom-center text-uppercase font-raleway font-18 font-weight-600 mb-10"><a href="blog-single-left-sidebar.html">Lorem ipsum dolor is emmita</a></h4>
                    <p class="mt-5">Lorem ipsum dolor sit amet, consectetur adipisi cing elit. Molestias eius illum libero dolor nobis</p>
                    <a class="btn btn-theme-colored btn-xs" href="blog-single-left-sidebar.html"> View Details</a>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Divider: Google Map -->
  <section>
    <div class="container-fluid pt-0 pb-0">
      <div class="row">
        <!-- Google Map HTML Codes -->
        <div
          id="map-canvas-multipointer"
          data-mapstyle="style1"
          data-height="400"
          data-zoom="12"
          data-marker="images/map-marker.png">
        </div>
        <!-- Google Map Javascript Codes -->
        <script src="http://maps.google.com/maps/api/js?key=AIzaSyAYWE4mHmR9GyPsHSOVZrSCOOljk8DU9B4"></script>
        <script src="js/google-map-init-multilocation.js"></script>
      </div>
    </div>
  </section>
  <!-- end main-content -->
</div>
